body {
	background-color: #008080;
}

.iconName {
	text-align: center;
}

p {
	margin: 0 0 -5px;
}

img {
	height: 47px;
	width: 47px;
}

.task-bar {
	background-color: silver;
	border: 4px solid #cccccc;
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
}

a {
    color: #c3d6d6;
}

a:hover {
	color: #c3d6d6;
}

.app {
    height: 100px;
    width:  100px;
    float:center;
    /*margin-right: 25px;*/
}

.app-Icons {
    margin-left: 10px;
    height: 100%;
}

.start-Menu {
	float:center;
	margin: 0px 3px 0px 0px;
}

.start-Menu:active {
	
}

.about-Menu {
	position: absolute;
	left: 85px;
	bottom: 3px;
	color:black;
}

.about-Menu:active .trollge{
    display:block;
}

#start-Icon {
	height: 16px;
	width: 16px;
	float:left;
	margin-right:1px;
}

.task-bar {
	background-color: silver;
	border: 4px solid #cccccc;
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
}


.window {
     width: 173px;
     height: 265px;
     margin-bottom: 0px;
     position: fixed;
     bottom: 0;
     left: 0;
}

#window {
    display: none;
}

.window-Icons {
  width:100%;
  margin:auto;
  float:right;
}

.wIco p {
      float: right;
      margin-top: 15px;
      margin-right: 20px;
      margin-bottom: 15px; 
      margin-left: 3px;
      color: #1c0e03;
}

.wIco img {
   height: 40px;
   width: auto;
}

.wIco:hover {
    background-color: #2a1ed4;
}